################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FLIFImageViewer/bin
/FLIFImageViewer/obj
/FLIFNet/bin
/FLIFNet/obj
/.vs/FLIFNet/v14
/bin
